body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    overflow-x: hidden;
    font-family: "Barlow", sans-serif;
}
.row:after,
.row:before {
    display: inline-block !important;
}
.text-orange {
    color: rgb(255, 61, 0);
}
.text-blue {
    color: rgb(0, 46, 255);
}
.text-link {
    text-decoration-line: underline;
    color: rgb(0, 46, 255);
}
.btn-outline {
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease;
    transition-delay: initial;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgb(25, 25, 25);
    background-color: transparent;
    background-image: initial;
    padding-top: 5px;
    padding-right: 31px;
    padding-bottom: 5px;
    padding-left: 31px;
    border-top-color: rgb(25, 25, 25);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(25, 25, 25);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(25, 25, 25);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(25, 25, 25);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 300px;
    height: 40px;
    text-decoration-line: none;
}
.btn-outline:hover {
    background-color: rgb(0, 46, 255) !important;
    border-top-color: rgb(0, 46, 255) !important;
    border-right-color: rgb(0, 46, 255) !important;
    border-bottom-color: rgb(0, 46, 255) !important;
    border-left-color: rgb(0, 46, 255) !important;
    color: rgb(255, 255, 255) !important;
    text-decoration-line: none !important;
}
.btn-outline-blue {
    transition-property: all !important;
    transition-duration: 0.4s !important;
    transition-timing-function: ease !important;
    transition-delay: initial !important;
    display: block !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    text-align: center !important;
    color: rgb(0, 46, 255) !important;
    background-color: initial !important;
    background-image: initial !important;
    background-position: 0 0 !important;
    padding-top: 5px !important;
    padding-right: 31px !important;
    padding-bottom: 5px !important;
    padding-left: 31px !important;
    border-top-color: rgb(0, 46, 255) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgb(0, 46, 255) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-bottom-color: rgb(0, 46, 255) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgb(0, 46, 255) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    max-width: 300px !important;
    height: 40px !important;
    text-decoration-line: none;
}
.section-hero.section-01-hero {
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-image: url("../images/bg-hero-eventos-desk.webp");
}
.box-info {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    max-width: 450px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.section-01-hero .title-banner {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: rgb(25, 25, 25);
    text-align: center;
}
.section-01-hero .txt-banner {
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgb(25, 25, 25);
    text-align: center;
}
.section-02 .title-section {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: rgb(25, 25, 25);
}
.section-02 .footer-section .btn-outline {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: rgb(25, 25, 25);
    background-color: transparent;
    background-image: initial;
    padding-top: 5px;
    padding-right: 31px;
    padding-bottom: 5px;
    padding-left: 31px;
    border-top-color: rgb(25, 25, 25);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(25, 25, 25);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(25, 25, 25);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(25, 25, 25);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 200px;
    height: 40px;
    text-decoration-line: none;
}
.section-02 .footer-section .btn-outline:hover {
    background-color: rgb(0, 46, 255);
    border-top-color: rgb(0, 46, 255);
    border-right-color: rgb(0, 46, 255);
    border-bottom-color: rgb(0, 46, 255);
    border-left-color: rgb(0, 46, 255);
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}
.section-02 .box-beneficios,
.section-02 .card-evento {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 200px;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 30px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.section-02 .box-beneficios picture source,
.section-02 .box-beneficios picture img {
    margin-bottom: 6px;
    width: 31px;
    height: 36px;
}
.section-02 .box-beneficios .title-box {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: rgb(25, 25, 25);
    margin-bottom: 6px;
}
.section-02 .box-beneficios .txt-box {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
}
.section-02 .box-beneficios .btn-outline {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: rgb(25, 25, 25);
    background-color: transparent;
    background-image: initial;
    padding-top: 5px;
    padding-right: 31px;
    padding-bottom: 5px;
    padding-left: 31px;
    border-top-color: rgb(25, 25, 25);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(25, 25, 25);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(25, 25, 25);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(25, 25, 25);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    bottom: 16px;
    text-decoration-line: none;
}
.section-02 .box-beneficios .btn-outline:hover {
    background-color: rgb(0, 46, 255);
    border-top-color: rgb(0, 46, 255);
    border-right-color: rgb(0, 46, 255);
    border-bottom-color: rgb(0, 46, 255);
    border-left-color: rgb(0, 46, 255);
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}
.section-02 .box-beneficios.dark .btn-outline {
    color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    text-decoration-line: none;
}
.section-02 .box-beneficios.dark .btn-outline:hover {
    background-color: rgb(0, 46, 255);
    border-top-color: rgb(0, 46, 255);
    border-right-color: rgb(0, 46, 255);
    border-bottom-color: rgb(0, 46, 255);
    border-left-color: rgb(0, 46, 255);
    color: rgb(255, 255, 255);
}
.section-02 .box-beneficios.dark .title-box,
.section-02 .box-beneficios.dark .txt-box {
    color: rgb(255, 255, 255);
}
.section-02 .content-eventos {
}
.section-02 .card-evento-text-info {
    font-size: 14px;
    line-height: 18px;
    font-family: "Barlow", sans-serif;
}
.section-02 .text-fecha {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    font-family: "Barlow", sans-serif;
}
.section-03 .title {
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(0, 46, 255);
}
.section-03 .sub-title {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}
.section-03 .sub-title strong {
    font-weight: 700;
}
.section-03 .text {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.section-03 .btn {
    width: 180px;
}
.section-04 .borde {
    border-top-color: rgb(0, 46, 255);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(0, 46, 255);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(0, 46, 255);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 46, 255);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: center;
}
.tag-info {
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 13px;
    background-color: rgb(255, 255, 255);
    left: 0;
    display: flex;
}
.tag-info .dcto,
.tag-info .info {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 14px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    line-height: 110%;
}
.tag-info .dcto strong,
.tag-info .info strong {
    font-weight: 600;
    font-size: 18px;
}
.tag-info .dcto {
    color: rgb(0, 46, 255);
    align-items: center;
    justify-content: center;
}
.tag-info .info {
    color: rgb(255, 245, 0);
    text-align: right;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgb(25, 25, 25);
}
.title-puntos {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.no-webp .section-02 .box-beneficios.cat-puntos-equipos-accesorios {
    background-image: url("equipos-accesorios.jpg");
}
section.section-02 .box-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    box-shadow: 2px 4px 15px rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    height: 300px;
}
section.section-02 .box-card .title-box {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: rgb(25, 25, 25);
    margin-left: 15px;
}
section.section-02 .box-card .text-box {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgb(25, 25, 25);
    margin-left: 15px;
}
.table th {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    padding-top: 0.9rem;
    padding-right: 0.6rem;
    padding-bottom: 0.9rem;
    padding-left: 0.6rem;
}
.table td {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-top: 0.9rem;
    padding-right: 0.6rem;
    padding-bottom: 0.9rem;
    padding-left: 0.6rem;
}
.accordion {
    width: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    display: inline-block;
    margin-bottom: 10px;
    color: rgb(74, 74, 74);
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
}
.accordion:hover .accordion:active {
    background-color: rgb(76, 76, 76);
    background-image: initial;
    text-decoration-line: none;
}
.accordion:after {
    content: "";
    color: rgb(74, 74, 74);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-family: FontAwesome;
    font-size: 20px;
}
.accordion.collapsed:after {
    content: "";
    font-weight: bold;
    float: right;
    color: rgb(74, 74, 74);
    font-size: 20px;
}
.panel {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-top: -10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-color: rgb(238, 238, 238) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgb(238, 238, 238) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-bottom-color: rgb(238, 238, 238) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgb(238, 238, 238) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    padding-right: 50px;
    padding-left: 50px;
}
#modal-tipo-cliente .modal-content {
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    background-color: transparent;
}
#modal-tipo-cliente .modal-header {
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
}
#modal-tipo-cliente .modal-title {
    font-family: "Barlow", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
}
.modal-header .close {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    right: 0;
    display: flex;
    color: rgb(255, 255, 255);
    opacity: 1;
    align-items: center;
    font-family: "Barlow", sans-serif;
    font-size: 11px;
    font-weight: 200;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.modal-header .close span {
    font-family: "Barlow", sans-serif;
    font-size: 52px;
    font-weight: 400;
    margin-left: 10px;
}
#modal-tipo-cliente .modal-body {
    background-color: rgb(255, 255, 255);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.2);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: center;
}
#modal-tipo-cliente .modal-body .text-descrip {
    font-size: 14px;
    line-height: 18px;
}
.sub-title-modal {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}
.modal-backdrop {
    background-color: rgb(25, 25, 25);
}
.modal-backdrop.show {
    opacity: 0.75;
}
.title1 {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: rgb(25, 25, 25);
}
.title2 {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 46, 255);
    margin-bottom: 25px;
}
.title3 {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    color: rgb(25, 25, 25);
    margin-bottom: 25px;
}
.l-height {
    line-height: 120%;
}
.mod-table {
    text-align: left;
    max-width: 885px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}
.mod-table-min {
    max-width: 600px;
}
.mod-table table {
    table-layout: fixed;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.mod-table table thead {
    display: none;
}
.mod-table thead th {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.mod-table tbody tr {
    padding-top: 10px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
}
.mod-table table tr:last-child {
    padding-bottom: 15px;
}
.mod-table tbody td {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.mod-table thead th:first-child,
.mod-table tbody td:first-child {
    text-align: left;
    width: 36%;
}
.mod-table table td.text-orange,
.mod-table table td.text-blue {
    font-weight: 500;
}
.mod-table table td.table-title-mobile {
    display: block;
    width: 100% !important;
    text-align: center !important;
    position: relative !important;
    padding-bottom: 0px !important;
    font-size: 18px !important;
}
@media screen AND (min-width: 360px) {
    #modal-tipo-cliente .modal-header {
        justify-content: center;
    }
}
@media screen AND (min-width: 411px) {
    .section-02 .box-beneficios {
        background-position: center;
    }
    section.section-02 .box-card .text-box {
        font-size: 16px;
    }
}
@media screen AND (min-width: 768px) {
    section.hero-duendes-magicos .subtitle-banner {
        font-size: 20px;
        line-height: 14px;
        text-align: right;
        padding-bottom: 15px;
    }
    section.hero-duendes-magicos .title-banner {
        font-size: 36px;
        line-height: 38px;
        text-align: right;
    }
    .section-hero.section-01-hero {
        height: 230px;
        background-position: 46% center;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
    }
    .section-hero {
        height: 380px;
        background-position: center center;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
    }
    .box-info {
        background-color: transparent;
        background-image: initial;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        max-width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    .section-01-hero .title-banner {
        font-size: 46px;
        line-height: 48px;
        text-align: left;
    }
    .section-01-hero .txt-banner {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
    }
    .section-02 .btn-outline-black {
        width: 200px;
    }
    .section-02 .mx-200 {
        max-width: 200px;
    }
    .section-03 .sub-title {
        font-size: 18px;
    }
    .section-03 .text {
        font-size: 16px;
    }
    #modal-tipo-cliente .modal-lg {
        max-width: 825px;
    }
    #modal-tipo-cliente .modal-title {
        font-size: 32px;
    }
    #modal-tipo-cliente .modal-body {
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        height: 480px;
        text-align: left;
    }
    .mod-table {
        background-color: rgb(255, 255, 255);
        background-image: initial;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 30px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-left: 40px;
    }
    .mod-table table {
        box-shadow: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .mod-table table thead {
        display: table-header-group;
    }
}
@media screen AND (min-width: 1023px) {
    .section-hero.section-01-hero {
        background-position: 55% 0;
        height: 230px;
    }
    .modalView {
        height: 20%;
        width: 80%;
        background: #ffffff;
    }
}
@media screen AND (min-width: 1099px) {
    .section-hero.section-01-hero {
        background-position: 55% 0;
        height: 300px;
    }
}
@media screen AND (min-width: 1200px) {
    .section-hero.section-01-hero {
        background-position: center 0;
    }
}
@media screen AND (max-width: 768px) {
    .mod-table table tr {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-end;
    }
    .mod-table table td {
        width: 48%;
        line-height: 120%;
        text-align: left;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
        padding-left: 2px;
        font-size: 14px;
    }
    .mod-table table td:before {
        content: data-label;
        color: rgb(25, 25, 25);
        font-weight: 700;
        margin-right: 5px;
    }
    .mod-table table td:first-child {
        position: absolute;
        left: 0;
        text-align: right;
        font-size: 15px;
        width: 50%;
    }
}
* {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    box-sizing: border-box;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: rgb(233, 231, 223);
    background-image: initial;
}
.modalView {
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
    box-shadow: -1px 2px 30px -8px rgba(0, 0, 0, 0.62);
    color: rgb(25, 25, 25);
    width: 80%;
}
.modalView .titulo {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgb(25, 25, 25);
    text-align: inherit !important;
}
.modalView .bajada {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(25, 25, 25);
    text-align: inherit !important;
}
.modalView > .modalView__content {
    color: white;
    font-weight: bold;
}
.modalView > .modalView__content.centered {
    text-align: center;
}
.modalView__content h1 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.modalView__content p {
    font-size: 1rem;
}
#modalView__closeBtn {
    position: absolute;
    background-color: rgb(0, 0, 0);
    background-image: initial;
    width: 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    height: 35px;
    right: -17px;
    top: -17px;
    color: white;
}
#modalView__closeBtn {
    cursor: pointer;
}
#modalView__closeBtn:after,
#modalView__closeBtn:before {
    content: "";
    height: 20px;
    width: 20px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 3px;
    position: absolute;
    top: 13px;
    right: 0px;
    transform: rotate(-45deg);
}
#modalView__closeBtn:before {
    color: white;
    right: 14px;
    transform: rotate(45deg);
}
#modalView__closeBtn:hover {
    background-color: rgb(0, 46, 255);
}
/* Header css */
#header-widget {
    font-family: "Barlow",sans-serif !important;
    line-height: 1.5;
    position: relative;
    z-index: 1000;
}
#header-widget .visually-hidden, #header-widget .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
#header-widget .visually-hidden-focusable {
    width: 0px;
    opacity: 0;
    transition: 200ms;
}
#header-widget .content-sup-nav {
    background-color: #fff;
}
#header-widget .content-sup-nav ul li {
    font-style: normal;
    font-weight: 400;
    font-size: .875em;
    list-style: none;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}
#header-widget .content-sup-nav__txt-item.active {
    font-weight: 600;
    line-height: 24px;
    color: #002eff;
}
#header-widget .content-sup-nav ul li a {
    color: #191919;
    text-decoration: none;
    transition: .2s;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel {
    width: auto;
    height: 40px;
    padding: .5rem 1.4rem;
}
#header-widget .content-sup-nav ul li a {
    color: #191919;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel--club::before {
    content: url(../images/ico-club-entel-desktop.svg);
    height: 24px;
    width: auto;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel:hover .icons-buttons-sup__icon-menu-entel--club::before {
    content: url(../images/ico-club-entel-desktop-blue.png);
    content: url(../images/ico-club-entel-desktop-blue.svg);
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel--pin::before {
    content: url(../images/ico-tienda-new-desktop.svg);
    height: 24px;
    width: auto;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel--boleta::before {
    content: url(../images/ico-boleta-desktop-blue.svg);
    height: 24px;
    width: auto;
}
#header-widget .icons-buttons-sup__icon-menu-entel.icons-button-sup__pagar-cuenta .icons-buttons-sup__hidden-text {
    display: block;
    color: #002eff;
}
#header-widget .icons-buttons-sup li {
    border-right: 1px solid #ccc;
    padding: 0 15px;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel a span {
    font-weight: 500;
    font-size: 1em;
    line-height: 20px;
    color: #002eff;
}
#header-widget .icons-buttons-sup__icon-menu-entel .icons-buttons-sup__hidden-text {
    display: none;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel:hover {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-widget .icons-buttons-sup__icon-menu-entel:hover .icons-buttons-sup__hidden-text {
    display: block;
    animation: opacityTriggger 1s ease-out;
}
#header-widget .icons-buttons-sup__icon-menu-entel.icons-button-sup__pagar-cuenta a {
    padding: 8px;
}
#header-widget .btn.btn-secondary.dropdown-toggle.icons-buttons-sup__btn-mientel {
    background: #f3f5ff;
    border-radius: 28px;
    border: none;
    width: 137px;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: .875em;
    color: #002eff;
    padding: 0 16px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
}
#header-widget .btn.btn-secondary.dropdown-toggle.icons-buttons-sup__btn-mientel img {
    width: 24px;
    height: 24px;
}
#header-widget .btn.btn-secondary.dropdown-toggle.icons-buttons-sup__btn-mientel::after {
    content: url(../images/arrow.png);
    border-top: 0;
    margin-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    width: auto;
    height: auto;
}
#header-widget .dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #212529;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-hover-bg: #e9ecef;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}
#header-widget .dropdown-menu.show {
    min-width: 320px;
}
#header-widget .nav-entel {
    padding: 0 30px;
    top: -1px;
}
#header-widget .nav-entel {
    z-index: 999;
    background-color: #fff;
    padding: 1rem .9rem;
    box-shadow: 0px 4px 4px rgba(204,204,204,.5);
}
#header-widget .nav-entel .navbar-nav .entel-link-n1 {
    color: #002eff;
    font-weight: 500;
    font-size: 1em;
    line-height: 20px;
    padding: 0 15px;
    border-radius: 25px;
}
#header-widget .iconSearch {
    background: rgba(0,0,0,0);
    border: none;
    width: 95px;
    transition: all 0.5s ease-in-out;
    outline: none;
}
#header-widget .iconSearch span.search-entel__icon-quit--hidden {
    display: none;
}
#header-widget .iconSearch:hover span.search-entel__icon-quit--hidden {
    display: block;
    font-weight: 500;
    font-size: .875em;
    line-height: 20px;
    color: #002eff;
}
#header-widget .ms-1 {
    margin-left: .25rem !important;
}

#header-widget .offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #ffffff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}
#header-widget .offcanvas.showing, #header-widget .offcanvas.show:not(.hiding) {
    transform: none;
}
#header-widget .search.offcanvas {
    height: 140px;
    width: 100%;
}
#header-widget .offcanvas.showing, #header-widget .offcanvas.hiding, #header-widget .offcanvas.show {
    visibility: visible;
}
#header-widget .offcanvas.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    max-height: 100%;
    transform: translateY(-100%);
}
#header-widget .search.offcanvas .offcanvas-entel {
    position: relative;
}
#header-widget .search.offcanvas .offcanvas-entel .btn-close {
    padding: 1.5em;
    background-image: url(../images/ico-close.svg);
    opacity: 1;
    background-size: 22px;
    background-color: #f3f5ff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 999;
}
#header-widget .search.offcanvas .btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
}
#header-widget .search.offcanvas .offcanvas-entel .input-search {
    width: 100%;
    height: 48px;
    padding-left: 70px;
    background-color: #f7f7f7;
    border-radius: 20px !important;
    border: none;
    background-image: url(../images/ico-share.svg);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 25px;
    color: #000;
    font-size: 1.12em;
    font-weight: 500;
}
#header-widget .offcanvas-backdrop.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(2,2,71,.9);
    opacity: .5;
}
.addBg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: rgba(2,2,71,.9);
    opacity: .5;
}
hr {
    opacity: .25;
}
.update_qty .fa {
    padding: 0 10px;
    box-sizing: content-box;
}
.update_qty > input {
    width: 60px;
}



@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px !important;
}
}
@media (min-width: 992px) {
#header-widget .justify-content-lg-between {
    justify-content: space-between !important;
    padding-top: 0;
}
#header-widget .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
}
#header-widget .navbar-expand-lg .navbar-collapse .dropdown-toggle::after {
    display: none !important;
}
#header-widget .ps-lg-3 {
    padding-left: 1rem !important;
}
#header-widget .content-sup-nav ul .content-sup-nav__link:hover {
    background: #f3f5ff;
    border-radius: 24px;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel:hover .icons-buttons-sup__icon-menu-entel--pin::before {
    content: url(../images/ico-tienda-new-desktop-blue.png);
    content: url(../images/ico-tienda-new-desktop-blue.svg);
}
#header-widget .icons-buttons-sup__icon-menu-entel.icons-button-sup__pagar-cuenta {
    border-right: 0;
}
#header-widget .icons-buttons-sup .icons-buttons-sup__icon-menu-entel a:hover {
    background: #f3f5ff;
    border-radius: 24px;
    padding: 8px;
}
#header-widget p, #header-widget ul, #header-widget li, #header-widget h1, #header-widget .h1, #header-widget h2, #header-widget .h2, #header-widget h3, #header-widget .h3 {
    margin-bottom: 0px;
}
#header-widget .iconSearch:hover {
    background: #f3f5ff;
    border-radius: 24px;
    padding: 8px;
}
#header-widget .nav-entel .dropdown:hover>.dropdown-menu {
    display: block;
    box-shadow: none;
    min-width: 280px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    top: 15px;
}
#header-widget .navbar.nav-entel .dropdown>.dropdown-menu {
    box-shadow: none;
    width: auto;
    padding: 10px 10px;
    border-top: 2px solid #002eff;
    top: 28px;
    left: -10px;
}
#header-widget .nav-entel .navbar-nav .entel-link-n1:hover {
    color: #002eff;
    background-color: #f3f5ff;
    transition: .5s;
}
#header-widget .nav-entel .dropdown:hover>.dropdown-menu::before, #header-widget .nav-entel .dropdown:focus>.dropdown-menu::before {
    content: url(../images/arrowshape.png);
    transform: scale(0.6);
    height: 10px;
    width: 20px;
    position: absolute;
    top: -14px;
    left: 40px;
}
#header-widget .ico-phones:hover {
    border: 1px solid #002eff;
}
#header-widget .ico-phones {
    max-width: 86px;
}
#header-widget .ico-phones {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 8px;
    max-width: 86px;
    margin: 5px 10px 5px 0;
}
#header-widget .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
#header-widget .nav-entel .dropdown:hover>.dropdown-menu {
    min-width: 320px;
}
#header-widget .nav-entel .navbar-nav .entel-link-n2 .dcto {
    font-size: .75em;
    line-height: 24px;
}
#header-widget .nav-entel .navbar-nav .entel-link-n2 .dcto {
    background-color: #42e8b4;
    font-weight: 600;
    font-size: .67em;
    line-height: 20px;
    width: auto;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    color: #191919;
}
#header-widget .nav-entel .navbar-nav .entel-link-n2 .bajada {
    font-weight: 400;
    font-size: .775em;
    line-height: 16px;
    font-style: normal;
    opacity: 0.8;
}
#header-widget .nav-entel .navbar-nav .entel-link-n2 p {
    font-size: 1em;
}
#header-widget .nav-entel .navbar-nav .entel-link-n2 {
    padding-left: 0px;
    padding-right: 0px;
}
#header-widget .dropdown-item:hover, #header-widget .dropdown-item:focus {
    background-color: transparent;
}
#header-widget .dropdown-item.entel-link-n2:hover p {
    color: #002eff;
}


#header-widget .offcanvas-body {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}
#contenedor-menuMientelId:hover .dropdown-menu.top-drop {
    display: block;
    box-shadow: none;
    width: 380px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    top: 58px;
    border-radius: 0px 0px 16px 16px;
    margin: 5px 0 0 0 !important;
    border-top: 2px solid #002eff;
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate(0px, 42.6667px);
}
#header-widget .dropdown-menu.top-drop::before {
    content: url(../images/arrowshape.png);
    transform: scale(0.6);
    height: 10px;
    width: 20px;
    position: absolute;
    top: -15px;
    right: 60px;
    z-index: 2;
}
#header-widget .dropdown-menu.top-drop::after {
    content: '';
    height: 13px;
    width: 100%;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: 1;
}
#header-widget .drop-accesos__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    height: 40px;
    background: #002eff;
    border-radius: 28px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#header-widget .drop-accesos__btn:hover {
    background-color: #fff;
    color: #002eff;
    border: 1px solid #002eff;
    transition: .5s;
    text-decoration: none;
}
#header-widget .drop-accesos__btn::before {
    padding-top: 5px;
    content: url(../images/icono-miperfil.png);
    content: url(../images/icono-miperfil.svg);
}
#header-widget .drop-accesos__btn:hover:before {
    padding-top: 5px;
    transition: .1s;
    content: url(../images/icono-miperfil-hover.png);
    content: url(../images/icono-miperfil-hover.svg);
}
#header-widget .drop-accesos .list-group-item {
    background-color: #f2f2f2;
    border: 0;
}
#header-widget .drop-accesos__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 24px;
}
#header-widget .ps-2 {
    padding-left: 0.5rem !important;
}
#header-widget .drop-accesos .dropdown-divider {
    border-top: 1px solid #ccc;
    width: 95%;
    margin: 3px auto;
}
#header-widget a.drop-accesos_a {
    text-decoration: none;
}
#header-widget .drop-accesos .list-group {
    background: #f2f2f2;
    border-radius: 8px;
}
#header-widget .drop-accesos .list-group-item p {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 24px;
    color: #191919;
}
#header-widget .ms-2 {
    margin-left: 0.5rem !important;
}
#header-widget .secc-descarga__descar {
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
}
#header-widget .ms-2 {
    margin-left: 0.5rem !important;
}


}
/* /Header css */
@media screen AND (min-width: 1023px) {
.modalView {
    top: 70%;
    height: 40%;
    width: 80%;
}
}
@media screen AND (max-width: 991px) {
.toggle__urls.gtm_footer_menu:after {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: auto;
    transition: .2s ease-in-out;
    width: 16px;
    height: 16px;
    background-image: url(../icons/chevronCollapse.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.toggle__urls.gtm_footer_menu[aria-expanded=true]::after {
    transform: rotate(180deg);
    transition: .2s ease-in-out;
}
#header-widget .nav-entel .navbar-toggler.hamburger.collapsed {
    background-image: url(../images/ico-ham.svg);
    background-color: rgba(0,0,0,0);
}
#header-widget .nav-entel .navbar-toggler.hamburger {
    background-repeat: no-repeat;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    border: 0;
    padding: 0.5em 0.5em;
    background-image: url(../images/ico-close.svg);
    opacity: 1;
    background-size: 24px;
    background-position: center center;
    box-shadow: none !important;
}
#header-widget .nav-entel .titulo__menu {
    font-size: 12px;
    color: #002eff;
    font-weight: 500;
    margin-bottom: 0;
}
#header-widget .ms-1 {
    margin-left: 0.25rem !important;
}
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--miEntel {
    background-color: #002eff;
    border-radius: 28px;
    height: 40px;
    width: 112px;
    color: #fff;
    font-size: .875em;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
}
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--miEntel {
    width: 100%;
}
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--pagarCuenta {
    background-color: #fff;
    border: 2px solid #002eff;
    border-radius: 28px;
    height: 40px;
    width: 112px;
    color: #002eff;
    font-size: .875em;
    font-weight: 500;
    text-align: center;
}
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--pagarCuenta {
    width: 100%;
}
#header-widget .navbar__width {
    width: 100%;
}
#header-widget .justify-content-between {
    justify-content: space-between !important;
}
#header-widget .d-flex {
    display: flex !important;
}
#header-widget .iconSearch {
    width: unset;
}
#header-widget .nav-entel .dropdown-mercados .txtblue-mercado {
    font-size: .875em;
    font-weight: 600;
    line-height: 16px;
    color: #002eff;
}
#header-widget .nav-entel .dropdown-mercados .dropdown-toggle::after {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzAwMmVmZiIgY2xhc3M9ImJpIGJpLWNoZXZyb24tZG93biIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMEw4IDEwLjI5M2w1LjY0Ni01LjY0N2EuNS41IDAgMCAxIC43MDguNzA4bC02IDZhLjUuNSAwIDAgMS0uNzA4IDBsLTYtNmEuNS41IDAgMCAxIDAtLjcwOHoiLz4KPC9zdmc+);
    border-top: none;
    vertical-align: middle;
    margin-left: 0;
    width: auto;
    height: auto;
    margin-bottom: -7px;
}
#header-widget .nav-entel .dropdown-mercados {
    border-bottom: rgba(0,0,0,0);
}
li.nav-item.dropdown .dropdown-toggle {
    padding-left: 0;
}
#header-widget .search.offcanvas {
    padding: 15px;
}
#header-widget .search.offcanvas .btn-close {
    position: absolute;
    top: -5px;
    right: 0;
}
#header-widget .search.offcanvas {
    height: 130px;
}
#header-widget .search.offcanvas .offcanvas-entel .label-input {
    color: #000;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 5px;
}
#header-widget .navbar .dropdown-mercados .dropdown-menu.show {
    min-width: unset;
    background: #f2f2f2;
    border-top: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#header-widget .dropdown-menu.show {
    display: block;
    position: relative;
}
#header-widget .nav-entel .dropdown-mercados .dropdown-item {
    font-weight: 400;
    font-size: .875em;
    color: #333;
    padding-left: 10px;
}
#header-widget .content-services {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    height: 72px;
}
#header-widget .content-services__tit {
    font-weight: 400;
    font-size: .875em;
    line-height: 16px;
    color: #020247;
}
#header-widget .content-services__bajada {
    font-weight: 700;
    font-size: 1.125em;
    line-height: 24px;
    color: #020247;
}
#header-widget .ms-2 {
    margin-left: 0.5rem !important;
}
#header-widget .nav-entel .navbar-nav .entel-link-n1 {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 24px;
    color: #191919;
    border-radius: 24px;
    padding: 0.5rem 0;
}
#header-widget .justify-content-between {
    justify-content: space-between !important;
}
#header-widget .d-flex {
    display: flex !important;
}
#header-widget .nav-entel .dropdown .entel-link-n1::after {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2hldnJvbi1kb3duIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEuNjQ2IDQuNjQ2YS41LjUgMCAwIDEgLjcwOCAwTDggMTAuMjkzbDUuNjQ2LTUuNjQ3YS41LjUgMCAwIDEgLjcwOC43MDhsLTYgNmEuNS41IDAgMCAxLS43MDggMGwtNi02YS41LjUgMCAwIDEgMC0uNzA4eiIvPgo8L3N2Zz4=);
    font-size: 1.25em;
    color: #000;
    border-top: none;
    position: relative;
    width: auto;
    height: auto;
}
#header-widget .nav-entel .dropdown .entel-link-n1.show::after {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2hldnJvbi11cCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMGw2IDZhLjUuNSAwIDAgMS0uNzA4LjcwOEw4IDUuNzA3bC01LjY0NiA1LjY0N2EuNS41IDAgMCAxLS43MDgtLjcwOGw2LTZ6Ii8+Cjwvc3ZnPg==);
}
#header-widget .services {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 24px;
}
#header-widget .nav-entel .navbar-nav .entel-link-n2 .dcto {
    background-color: #42e8b4;
    font-weight: 600;
    font-size: .67em;
    line-height: 20px;
    width: auto;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    color: #191919;
}
#header-widget .gtm_submenu {
    padding: 0.5rem 0;
}
#header-widget .gtm_submenu .d-flex.justify-content-between {
    font-weight: 600;
}
#header-widget .dropdown-menu.show {
    min-width: auto;
}
#header-widget .dropdown-mercados .dropdown-menu.show {
    position: absolute;
}


}
@media screen AND (max-width: 767px) {
.section-hero.section-01-hero {
    background-image: url("../images/bg-hero-eventos-mob.webp");
}

}
@media screen AND (max-width: 575px) {
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--miEntel .ico-delivery {
    display: none;
}
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--pagarCuenta .ico-boleta {
    display: none;
}
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--pagarCuenta {
    max-width: 110px;
    padding: 7px 10px;
}
#header-widget .nav-entel .nav-accesos-mob .link-acceso.btn--miEntel {
    max-width: 110px;
    padding: 10px;
}
#header-widget .justify-content-between .justify-content-center {
    justify-content: space-between !important;
}



}